/* Estilo base (claro) */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pagina-inicial {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  background-color: #4CAF50; /* Adicionei para combinar com o texto branco */
  color: #fff;
}

.pagina-inicial-h1 {
  font-size: 4rem;
  margin-bottom: 5px;
}

.pagina-inicial-h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.pagina-inicial-button {
  background-color: #fff;
  color: #4CAF50;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.pagina-inicial-button:hover {
  background-color: #45a049;
  color: #fff;
}

/* Versão escura */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #eee;
  }

  .pagina-inicial {
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  .pagina-inicial-h1,
  .pagina-inicial-h2 {
    color: #fff;
  }

  .pagina-inicial-button {
    background-color: #4CAF50;
    color: #fff;
  }

  .pagina-inicial-button:hover {
    background-color: #45a049;
    color: #fff;
  }
}
